* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin:  0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1,1,1,0.1);
    border-radius: 10px;
}

.title_small{
    font-size: 20px;
    color: rgb(79, 56, 95);
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

input,
select,
textarea{
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

input:focus{
    outline-color: rgb(59, 72, 68);
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button{
    background-color: rgb(225, 91, 54);
    border: transparent solid 2px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: rgb(182, 197, 220);
    border: 2px solid  #000000;
    color: #000000;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea_control{
    grid-column: 1 / span 2;
}

.textarea_control textarea{
    width: 100%;
}

@media (max-width:460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
}